{% extends "base.html" %}

{% block head %}
    <title>Home Page</title>
    <meta charset="UTF-8">
    <style>
        .navbar {
          overflow: hidden;
          background-color: #333;
          position: fixed;
          top: 0;
          width: 100%;
        }

        .button {
            text-align: center;
        }

        .p {
            overflow: hidden;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

        .content {
            padding: 16px;
            margin-top: 30px;
        }
    </style>

{% endblock %}
{% block body %}
<div class="collapse" id="myNav">
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
      <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>Disabled</button>
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
    </div>
  </div>
</div>

<div class="navbar">
    <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
    </nav>
  </div>
</div>

<div class="content">
    <br>
    <div class="page-header">
        <h1 style="text-align: center">Welcome to KABAT Generator!</h1>
    </div>
    <br>
    <div class="button">
        <button class="btn btn-info btn-lg"><a href="{{ url_for('new_project') }}">Create new project</a></button>
        <p></p>
        <button class="btn btn-info btn-lg"><a href="{{ url_for('new_projects') }}">Create new projects</a></button>
        <p></p>
        <button class="btn btn-info btn-lg"><a href="{{ url_for('existing_projects') }}">Select an existing project</a></button>
    </div>
</div>

<div class="p">
    <ul class="pagintion justify-content-center">
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next"><a href="#">Next</a></li>
    </ul>
</div>


{% endblock %}
